/* body {
  font-family: 'Arial', sans-serif;
}

.MuiTypography-root {
  color: #333;
}

.MuiButton-containedSuccess {
  background-color: #388e3c;
}

.MuiButton-containedSuccess:hover {
  background-color: #2e7d32;
} */
